@font-face {
  font-family:'Iosevka Regular';
  src:url("/fonts/iosevka-regular.woff2")
}

@font-face {
  font-family:'Iosevka Medium';
  src:url("/fonts/iosevka-medium.woff2")
}

.img-responsive {
  display: block;
  width: 50%;
  height: 100%;

}


a {
  color:#337ab7;
  transition:0.2s linear
}

a.page-link {
  color:#337ab7
}

ul {
  padding-left:0
}

.course h2 {
  margin-top:2rem
}

code,kbd,pre,samp {
  font-family:'Iosevka Medium', 'Menlo', 'Monaco', monospace !important;
  white-space:pre
}

pre {
  border-radius:5px;
  padding:1em
}

.alert>p:last-child {
  margin-bottom:0
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 2.5rem;
}


.author__avatar {
  display:table-cell;
  vertical-align:top;
  width:36px;
  height:36px
}
@media (min-width: 64em){
  .author__avatar {
    display:block;
    width:auto;
    height:auto
  }
}
.author__avatar img {
  max-width:110px;
  border-radius:50%
}
@media (min-width: 64em) {
  .author__avatar img {
    padding:5px;
    border:1px solid rgba(0,0,0,0.1)
  }
}

.blog-post-thumb {
  margin-bottom:37px;
  font-size:0;
  line-height:0;
  text-align:center
}
.blog-post-thumb a,.blog-post-thumb img {
  display:inline-block;
  max-width:100%
}
